table {
    border-collapse: collapse;
    display: block;
    table-layout: fixed;
    width: 64vmin;
    height: 64vmin;
  }
  
td, th {
    overflow: hidden;
    text-align: center;
    width: 8vmin;
    height: 8vmin;
    font-size: 4vmin;
  }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightSquare {
    background: #9272BB;
}

.darkSquare {
    background: #7851a9;
}