html {
    background-color: #e6deef;
    font-family: 'Playfair Display', serif;
}
table {
    border-collapse: collapse;
    display: block;
    table-layout: fixed;
    width: 64vmin;
    height: 64vmin;
  }
  
td, th {
    overflow: hidden;
    text-align: center;
    width: 8vmin;
    height: 8vmin;
    font-size: 4vmin;
    color: #412C5B;
  }

button {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #412C5B;
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightSquare {
    background: #d6c9e5;
}

.darkSquare {
    background: #a489c6;
}
